*{
    top: 0px;
    left: 0px;
}

.container{
border: 2px solid red;
width: 100%;
display: flex;
justify-content: center ;
}

.p-box{
     border: 1px solid #4070f4;
    width: 300px;
    height: 400px;
    margin: 20px;
    position: relative;
    background-color: #4070f4;
    display: block;
    border-radius: 12px;
    box-shadow: 7px 5px ;
    display: inline-block;
 }

 .c-box{
    
    width:  300px;
    height: 200px;
    position: absolute;
    top: 200px;
    border: 1px solid #4070f4;
    background-color: #ffffff;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    text-align: center;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    
 }

 img{
    width: 130px;
    height: 128px;
    position: absolute;
    top: 6%;
    left: 87px;
    z-index: 3;
    border-radius: 100%;
    border: 3px solid white;
    
 }
 h4{
    margin-bottom: 5px;
 }

 .para{
    margin-top: 0px;
 }
 .btn
 {
    margin-top: 20px;
    width: 40%;
    height: 32px;
    border-radius: 8px ;
    font-size: 15px;
    font-weight: bolder;
    background-color: #4070f4;
    color: white;
 }