*{
    margin: 0;
}




.container{
    border: 2px solid yellow;
    position: relative;
    display: flex;
    justify-content: center;
    height: 900px;
    width:100% ;
  
}

 

.img{

    width: 248px;
    height: 241px;
    top: 179px;
    left: 444px;
    border-radius: 12px;
    border: 1px solid #4070f4;
    transform: rotateY(30deg);
    box-shadow: 10px 10px #9ea9c7;
    transform-style: preserve-3d;
}



.content{
    border: 2px solid #4070f4;
    width: 700px;
    height: 400px;
    position: absolute;
    z-index: -1;
    margin-top: 100px;
    border-radius: 12px;
    background-color: #ffff;
}

.texts{
    /* border: 1px solid red; */
    /* text-align: center; */
    width: 70%;
    height: 300px;
    position: absolute;
    top: 41px;
    left: 192px;

}

.skills{
    /* border: 1px solid violet; */
    display: flex;
    margin-top: 60px;

}

 ul
 {
    display: inline-block;
    /* border: 2px solid black; */
     
    padding: 20px;
    font-size: larger;
 }

 .ul-lower{
    margin-left: 100px
 }